{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block style %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock style %}

{% block content %}
    <div class="max-w-4xl mx-auto py-4 px-6">

        <h1 class="text-2xl">{{ title }}</h1>

        <form method="post" action="." enctype="multipart/form-data" class="space-y-5">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-4 px-8 bg-teal-500 text-white hover:bg-teal-800">Submit</button>
        </form>
    </div>
{% endblock content %}