{% extends 'core/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<h1 class="text-2xl">Login</h1>

    <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="mt-2 py-3 px-5 bg-teal-800 text-white rounded-xl hover:bg-teal-900">Login</button>
    </form>

    <hr class="mt-4 mb-4">

    <h2>¿No tienes cuenta? <strong class="py-1 px-5 bg-red-800 text-white rounded-xl hover:bg-teal-900"><a href="{% url 'signup' %}">Regístrate AQUI</a></strong></h2>


{% endblock content %}