{% load static %}


{% for product in products %}
    <div class="col-sm-4" id="{{ product.category.title }}">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                        <img src="{{ product.get_image_url }}" alt="{{ product.title }}"/></a>

                        <h2>S/ {{ product.get_display_price }}</h2>
                        <p>{{ product.title }}</p>
                        <a href="{% url 'product_detail' product.category.slug product.slug %}"
                           class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Más detalles</a>
                </div>


                {% comment %}
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>S/ {{ product.get_display_price }}</h2>
                        <p>{{ product.title }}</p>
                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                            cart</a>
                    </div>
                </div>
                {% endcomment %}
                <img src="{% static 'core/images/home/new.png' %}" class="new" alt=""/>
            </div>
            {% comment %}
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
            {% endcomment %}
        </div>
    </div>
{% endfor %}


{% comment %}
{% for product in products %}
    <div class="product-item women">
        <div class="product product_filter">
            <div class="product_image">
                <img src="{{ product.get_image_url }}" alt="">
            </div>
            <div class="favorite"></div>
            {% if product.is_new %}
            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center">
                <span>new</span>
            </div>
            {% endif %}
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">{{ product.title }}</a></h6>
                <div class="product_price">S/ {{ product.get_display_price }}<span>$590.00</span></div>
            </div>
        </div>
        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
    </div>
{% endfor %}
{% endcomment %}